{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">File Upload</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}/">Dashboard</a></li>
            <li class="breadcrumb-item active">File Upload</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                File Upload
            </div>
            <div class="card-body">
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="message">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <!-- <form action="" class="form-horizontal" method="POST" id="uploadForm" enctype="multipart/form-data"> -->
                    <!-- {% csrf_token %} -->
                <div class="form-horizontal" id="uploadForm">
                    <!-- overlay -->
                    <div class="overlay" name="overload" style="display: none;">
                        <div class="loader"></div>
                        <h3 class="overlay-text">Adding data ...</h3>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="file" class="form-control" name="myfile" id="fileInput" accept=".csv">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Start number:</span>
                                </div>
                                <input type="number" class="form-control" name="start_number" placeholder="Start number" id="inputStart" value="0" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">End number:</span>
                                </div>
                                <input type="number" class="form-control" name="end_number" placeholder="End number" id="inputEnd" value="10" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Threading:</span>
                                </div>
                                <input type="number" class="form-control" name="threading" placeholder="Threading number" id="inputThreading" value="1" required min="1" max="10">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block" id="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        window.addEventListener('pageshow', function() {
            document.getElementById('overlay').style.display = 'block';
        });

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim(); 
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function infoSusscess(text) {
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "1500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr.success(text);
    });
}
function fetchUpload() {
    var submit = document.getElementById("submit");
    var startNumber = document.querySelector("input[name='start_number']");
    var endNumber = document.querySelector("input[name='end_number']");
    var file = document.querySelector("input[name='myfile']");
    var threading = document.querySelector("input[name='threading']");
    
    const formData = new FormData();
    formData.append('myfile', file.files[0]);
    formData.append('start_number', startNumber.value);
    formData.append('end_number', endNumber.value);
    formData.append('threading', threading.value);

    // mở overlay
    document.querySelector('.overlay').style.display = 'block';
    fetch(`http://127.0.0.1:8000/api/fileupload/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Lỗi mạng');
        }
        return response.json();
    })
    .then(data => {
        console.log('Dữ liệu đã cập nhật:', data);
        // ẩn overlay
        document.querySelector('.overlay').style.display = 'none';
        infoSusscess("Upload file successfully!");
    })
    .catch(error => {
        console.error('Lỗi:', error);
        document.querySelector('.overlay').style.display = 'none';
        infoSusscess("Upload file successfully!");
    }); 
    
}

document.addEventListener('DOMContentLoaded', function() {
    var submit = document.getElementById("submit");
    submit.addEventListener('click', function() {
        fetchUpload();
    });
});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}