{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Simulation</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Simulation</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Add New Data
        </div>
        <div class="card-body">
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-horizontal">
                <div class="row">
                    {% for column in columns %}
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <label class="form-label">{{ column }}</label>
                            <div class="form-check form-switch ms-auto">
                                <input class="form-check-input" type="checkbox" id="{{ column|lower }}" name="{{ column|lower }}">
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 mt-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary btn-block" id="add-data">Add Data &nbsp;&nbsp;&nbsp;<span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.125);display:none;" id="info-simulation">
            <div class="user-id"></div>
            <div class="score"></div>
            <div class="level"></div>
            <div class="rank"></div>
        </div>
    </div>    
</div> 

{% endblock %}
{% block javascript %} 
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim(); 
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function infoSusscess(text) {
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "1500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr.success(text);
    });
}
function fetchSimulation(){
    const formData = new FormData();
    const list_column = ['{{ columns|join:"','" }}'];
    const list_cl = [];
    list_column.forEach(column => {
        list_cl.push(column.toLowerCase());
    });
    const inputs = document.querySelectorAll('input');
    const matchingInputs = [];

    inputs.forEach(input => {
        if (list_cl.includes(input.name)) {
            if (input.checked === true) {
                matchingInputs.push(1);
            } else {
                matchingInputs.push(0);
            }
        }
    });
    console.log(matchingInputs);
    formData.append('data', matchingInputs);
    fetch(`http://127.0.0.1:8000/api/simulation-api/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Lỗi mạng');
        }
        return response.json();
    })
    .then(data => {
        console.log('Dữ liệu đã cập nhật:', data);
        const infoSimulation = document.getElementById('info-simulation');
        infoSimulation.style.display = 'block';
        const infoUserID = document.querySelector('.user-id');
        const infoScore = document.querySelector('.score');
        const infoLevel = document.querySelector('.level');
        const rank = document.querySelector('.rank');
        infoUserID.innerHTML = '';
        infoScore.innerHTML = '';
        infoLevel.innerHTML = '';
        rank.innerHTML = '';
        infoUserID.innerHTML = `<strong>User ID:</strong> ${data.data.user_id}`;
        infoScore.innerHTML = `<strong>Score:</strong> ${data.data.score}`;
        if (parseFloat(data.data.score) > 30){
            infoLevel.innerHTML = `<strong>Level:</strong> Level 1`;
            rank.innerHTML = `<strong>Rank:</strong> Gold <i class="fas fa-medal" style="color: gold;"></i>`;
        } else if (parseFloat(data.data.score) > 20){
            infoLevel.innerHTML = `<strong>Level:</strong> Level 2`;
            rank.innerHTML = `<strong>Rank:</strong> Silver <i class="fas fa-medal" style="color: silver;"></i>`;
        } else if (parseFloat(data.data.score) > 10) {
            infoLevel.innerHTML = `<strong>Level:</strong> Level 3`;
            rank.innerHTML = `<strong>Rank:</strong> Bronze <i class="fas fa-medal" style="color: #cd7f32;"></i>`;
        } else {
            rank.innerHTML = `<strong>Rank:</strong> Normal`;
        }
        infoSusscess(data.message);

    })
    .catch(error => {
        console.error('Lỗi:', error);
    });
}


document.addEventListener('DOMContentLoaded', function() {
    var submit = document.getElementById("add-data");
    submit.addEventListener('click', function() {
        fetchSimulation();
    });
});
</script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}